<form method="post">
    <label>Incremento salarial</label>
    <input type="text" name="incremento" class="form-control" />
    <button class="btn btn-info">
        A subir salarios!!!
    </button>
</form>