@if (Context.User.Identity.IsAuthenticated == false)
{
    //EFECTO OPTICO DEL LOGIN
    <li class="nav-item">
        <a asp-controller="Empleados"
            asp-action="PerfilEmpleado"
            class="nav-link">
            Log In
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a asp-controller="Managed"
            asp-action="Logout"
            class="nav-link">
            Log out <span style="color:blue">
                @Context.User.Identity.Name
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Empleados"
           asp-action="PerfilEmpleado"
           class="nav-link">
            Mi perfil
        </a>
    </li>
}